*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: purple;
    font-family: Arial;
    background-size: auto 100hv;
    height: 100vh;
    font-size: 12px;
}

/*se a tela tiver pelo menos 400px vai carregar esses estilos*/
@media (min-width: 400px) {
    body{
      font-size: 14px;  
    }
}

@media (min-width: 600px) {
    body{
      font-size: 18px;  
    }
}

header{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center;
}

.menu{
  background-color: black;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 1;
}
.menu a{
   display: block;
   padding: 10px 20px; 
   transition: background-color 1s, color 1s;
}

.menu a:hover{
    background-color: purple;
    color: black;
}

.menu ul{
    display: flex;
    justify-content: space-around;
}
a {
    text-decoration: none;
    color: aliceblue;
    font-family: 'Pangolin', cursive;
}

a:hover {
    text-decoration: underline;
}
.menu li{
    list-style: none;
}

.titulos{
   transform: scale(0.2) translateY(50vh);
   opacity: 0;

   animation: linear 2s animaçãotitulo forwards;
}

@keyframes animaçãotitulo{
    100%{ 
    transform: scale(1) translateY(0);
   opacity: 1;
   }
} 
.site-title{
    text-align: center;
}
.site-title{
    font-size: 4em;
    font-family: 'Press Start 2P', cursive;
}
.site-subtitle{
    text-align: center;
    font-family: 'Press Start 2P', cursive;

}
.site-Sobre{
    text-align: center;
    color: black;
    font-size: 2em;
    font-family: 'Pangolin', cursive;
    line-height: 1.8em;
}
.texto-sobre{
    text-align: center;
    color: black;
    font-family: 'Roboto', sans-serif;
}
.site-sobre-mim{
    text-align: left;
    color: black;
    font-size: 2em;
    font-family: 'Pangolin', cursive;
    line-height: 1.8em;
}
.site-eu{
    text-align: center;
    color: black;
    font-family: 'Roboto', sans-serif;
    
}
.grid-icons:active,
.grid-icons:hover{
    text-align: left;
    color: aliceblue;
    font-size: 3em;
    text-decoration: none;
    text-shadow: 0px 0px 16px rgba(0,0,0);
    transition: 1s;
}
.Content{
    text-align: left;
    color:black;
    font-family: 'Pangolin', cursive;
    font-size: 1.5em;
    line-height: 1.8em;
}